.overview-page {
   padding: 20px;
 }
 
 .channel-selector {
   margin-bottom: 20px;
 }
 
 .channel-selector label {
   font-weight: bold;
   margin-right: 10px;
 }
 
 .channel-selector select {
   padding: 8px;
   border-radius: 5px;
   border: 1px solid #ccc;
 }
 
 .leaderboard-section {
   margin-top: 20px;
 }
 
 .leaderboard-list {
   list-style-type: none;
   padding: 0;
   margin-top: 10px;
 }
 
 .leaderboard-item {
   padding: 10px;
   background: #f8f8f8;
   border-radius: 5px;
   margin-bottom: 5px;
   box-shadow: var(--box-shadow-light);
   cursor: pointer;
 }
 
 .leaderboard-item-header {
   display: flex;
   justify-content: space-between;
   font-weight: bold;
 }
 
 .leaderboard-score {
   color: var(--color-primary);
 }
 
 .drink-details {
   margin-top: 10px;
   padding: 10px;
   background-color: #eef4ff;
   border-radius: 5px;
 }
 
 .drink-detail {
   display: flex;
   justify-content: space-between;
   padding: 5px 0;
 }
 
 .drink-type {
   font-weight: bold;
   color: #555;
 }
 
 .map-section {
   margin-top: 20px;
 }
 
 .map-container {
   margin-top: 10px;
   padding: 20px;
   background: #e9f3ff;
   border-radius: 10px;
   text-align: center;
 }
 